.body {
  align-content: center;
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/space-background-with-purple-nebula-and-stars-peter-jurik.jpg");
  background-position: center center ; 
  background-size: cover;
  background-attachment: fixed;
  
}

#app{
  background-image: url("https://cdn.vox-cdn.com/thumbor/A9LlhsnwgX3iyP0FcfxtXwjXNPA=/66x0:1133x800/1200x800/filters:focal(66x0:1133x800)/cdn.vox-cdn.com/uploads/chorus_image/image/55901315/1_9OLEJ7AhJ5nCWKL9t4XOXQ.0.png");
  background-position: center center ; 
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  max-width: 800px;
  box-shadow: 5px 5px 5px 5px;
  align-items: center;
  height: 800px;
}

    

  #eat{
  background-color: #2f6627;
  text-align:center;
  position: absolute;
   top: 12rem;
   left: 30rem;
   width: 100px;
   
   

   
  }
  
  
  #play{
    background-color: aquamarine;
     text-align:center;
       float:right;
       position: absolute;
	     top: 12rem;
      right: 30rem;
      
      
      
       
    
  }
  #fight{
     background-color: #f10808;
     text-align:center;
      bottom: 12rem;
	    right: 30rem;
    	position: absolute;
  }
   
  
  #sleep{
     background-color: blue;
      text-align:center;
       text-align-last: center;
       float:left;
       position: absolute;
	    bottom: 12rem;
      left: 30rem;
      
  }

  button {
    background-color:#c74444;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:10px;
    border:1px solid #9b8b44;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    text-decoration:none;
     width: 50px;
     height: 40px;
     margin:0auto;
     margin-top: 2rem;
}

  