body {
  background-image: url("https://previews.123rf.com/images/ravennka/ravennka1402/ravennka140200021/25996093-seamless-pattern-in-dark-rainbow-colors-with-shiny-parts.jpg");
  background-position: center center ; 
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  
}



#app{
  
  background-image: url("https://cdn.vox-cdn.com/thumbor/l58l3I8v5lNe5qwBHUFY9AJKuWo=/0x0:1200x800/1200x800/filters:focal(504x304:696x496)/cdn.vox-cdn.com/uploads/chorus_image/image/64061958/1_9OLEJ7AhJ5nCWKL9t4XOXQ.0.0.0.png");
  background-position: center center ; 
  // background-size: cover;
  // background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 600px;
  box-shadow: 5px 5px 5px 5px;
  align-items: center;
  height: 600px;
}

    

  #eat{
    
  background-color: #2f6627;
  text-align:center;
  position: absolute;
   top: 20rem;
   left: 32rem;
   width: 100px;
   
   

   
  }
  
  
  #play{
    background-color: aquamarine;
     text-align:center;
       float:right;
       position: absolute;
	     top: 20rem;
      right: 32rem;
      width:100px;
      
      
      
       
    
  }
  #fight{
     background-color: #f10808;
     text-align:center;
      bottom: 10rem;
	    right: 32rem;
      position: absolute;
      width:100px;
  }
   
  
  #sleep{
     background-color: blue;
      text-align:center;
       text-align-last: center;
       float:left;
       position: absolute;
	    bottom: 10rem;
      left: 32rem;
      width:100px;
      
  }

  button {
    background-color:#c74444;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:10px;
    border:1px solid #9b8b44;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    text-decoration:none;
     width: 50px;
     height: 30px;
     margin:0auto;
     margin-top: 2rem;
     padding: .4rem;
}

.title{
  text-align: center;
  font-style: oblique;
  font-size: 45px;
}